/***** Global Styles *****/
html, body, div, section, article, header, footer, nav, h1, h2, h3, h4, p, blockquote, span, em, strong, img, ol, ul, li, figure, video, th, td, tr, a {
	margin: 0; 
	padding: 0;
}

html { height: 100%;}/*#494440*/

body {
	height: 100%;
	background-image: url(../sysimages/mm_background.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color:#205493;
}

div, body{
  margin: 0;
  padding: 0;
  font-family: SourceSansPro, Arial, sans-serif;
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 700;
  font-style: normal;
  
}

.alignCenter { text-align: center; }
.alignLeft {text-align:left; }
.alignRight {float:right;}
.pull-right{float:right;}
.is-hidden{display:none;}

#wrapper-outer {
	position: fixed;  
  	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 980px;
	min-height: 600px;
	height:auto;
	overflow: hidden;
	display: block;
}


header, section {
	position: relative;
	width: 100%;
	height: auto;
	display: block;
	float:left;
}
section {
	
}
.h_title {
	position: relative;
	margin:67px 0 18px 0;
	width: 100%;
	height: auto;
	font-family:Merriweathe, Arial, sans-serif; 
	font-size:40px;
	font-size:2.5rem;
	font-weight:bold;
	color:#92ADCF;
	text-align:center;
}

.button {
	color: #212121;
	overflow: hidden;
	background-color:#f1f1f1;
	display:inline-block;
	font-weight: 700;
	text-decoration:none;
	-webkit-transition-property:background-color;transition-property:background-color;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out;
}
.button:hover{background-color:#d6d7d9;}

.blue{background-color:#0071bc; width: 107px; padding-top: 8px;height:30px;}
.blue:hover{background-color:#205493;}
a.disabled{background-color:#7C7C7C;pointer-events: none}

.module{
	width: 94%;
	padding: 15px;
	margin-top:.5em;
	/*margin-left:.5em;*/
	float:left;
	display:block;
	
}

.checkMk {padding: 2px;  background:url(../sysimages/check.png) no-repeat  0 0; width:13px; height:11px;float:left; }

.accord_plus, .accord_minus {height:22px; width:22px; background:url(../sysImages/plus.png) no-repeat 0 0px;background-size:70%;display: block; }
.accord_minus {background:url(../sysImages/minus.png) no-repeat 0 0px;background-size:70%; }

.checkMk_holder {margin:6px 10px 0 0px; width:13px; height:11px; display:block;float:left; border: 1px solid rgba(0, 0, 0, 0.14);}

.lesson-holder {
	position: relative;
	width: 100%;
	height: auto;
	background: #fff;
	float:left;
	/*margin-left:.5em;
	display:block;
	padding: 10px 4px 10px 6%;
	border-bottom:1px solid #d5d6d2;*/
}


.lesson{
	width: 94%;
	font-size:16px;
	padding:5px 0;
	padding-left:25px;
	/*magin-top:.5em;
	margin-left:10px;*/
	display:block;
	float:left;
	
}

.lesson-holder:after { clear: both; }

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.logo {
	position: relative;
	width:30%;
	left:4%;
	top:60px;
	height:94px;	
	display: block;
	background: url(../sysimages/mm_logo.svg) no-repeat top left;
	background-size: contain;
	float:left;

}
.prompt {
	line-height: 21px;
	font-size: 1em;
	font-weight: 500px;
	text-align: left;
	color: #fff;
	float:right;
	margin:120px 56px 0 0;
}

.exit {
	position: absolute;
	top: 27px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
	text-align: center;
	color: #fff;
}
.exit a { text-decoration: none; color:inherit; }
.exit a:hover { color:#f78e1e; }


/* comment links - added after course is done */
a.cmt {
	font-size: 0.75em; 
}
a.cmt:link { 
	color: #f57d14; 
	font-weight: bold; 
	text-decoration: none; 
}
a.cmt:visited { color: #753c0a; }
a.cmt:hover { outline: 0; color: #f78e1e; }
a.cmt:focus { outline: 0; }
a.cmt:active { color: #e78e1e; outline: 0; }

#comment_link {
	position: relative;
	width: 290px;
	height: 35px;
	font-size: 1.125em;
	margin: 5px auto 0;
	display: block;
}
#comment_link #add_comment {
	position: absolute;
	top: 4px;
	left: 0;
}
#comment_link #view_comment {
	position: absolute;
	top:4px;
	left: 140px;
	text-align: right;
}





/* End of comment links */

/***** small viewport *****/
@media only screen and (max-width: 980px) 
{
    #wrapper-outer {
	    max-width: 980px;
		margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {

	#wrapper-outer {
	 	max-width: 768px;
		width: 96%;
		left:0; top:0;
		margin: 0 auto;
		transform: translate(0, 0);
		height: auto;

  	}
}

@media only screen and (max-height: 600px) 
{
    #wrapper-outer {
		max-width: 768px;
		width: 96%;
	    height:auto;
		margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
	/*disable text sizing on orientation change*/
	html, body, div, section, article, header, footer, nav, h1, h2, p, span, em, strong, img, ol, ul, li, th, td, tr {
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}
	html {overflow-y:auto}
	body{background:#005897;}
 	#wrapper-outer {
		top: 0;
		left: 0;
		transform: translate(0, 0);
		position:relative;
		max-width: 480px;
		width: 96%;
	    height:auto;
		margin: 0 auto;
    }
	.alignRight{float:left;}
	.module{
		width: 100%;
		margin-left:0;
		/*padding: 5px;*/
	}
	.h_title {
		font-size:20px;
		font-size:1.25rem;
		margin:20px 0 10px 0;
	}


	footer{
		position:relative;
	}
	.logo {top:10px;}
	.prompt {
		height:auto;
		width: 100%;
		float:left;
		display:block;
		font-size: .9em;
		text-align:center;
		margin-top:10px;
	}
	.checkMk_holder {margin:6px 10px 10px 0px;}
	/*.statu {margin:10px 5px 10px 0px;}*/
	.accord_plus, .accord_minus {background-size:60%; margin-right:5px}
}



@media only screen and (max-width: 380px) {
	html {overflow-y:auto}
	body{background:#005897;
	}
 	#wrapper-outer {
		top: 0;
		left: 0;
		transform: translate(0, 0);
		position:relative;
		max-width: 380px;
		width: 96%;
	    height:auto;
		margin: 0 auto;
    }
	.module{
		width: 100%;
		margin-left:0;
		/*padding: 5px;*/
	}
	.alignRight{float:left;}
	.checkMk {margin-right:5px;}

}

@media only screen and (max-width: 320px) {

	body{background:#005897;
	}
	#wrapper-outer {
		top: 0;
		left: 0;
		transform: translate(0, 0);
		position:relative;
		max-width: 320px;
		width: 96%;
	    height:auto;
		margin: 0 auto;
    }
	.module{
		width: 100%;
		margin-left:0;
		/*padding: 5px;*/
	}
	.alignRight{float:left;}
	.checkMk {margin-right:5px;}

}



